
#root {
  margin: 0% 0% 0% 0%;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
 padding: 2px;
border:1px solid rgba(243, 243, 243, 0.651) !important;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.read-the-docs {
  color: #888;
}

.form-error{
  outline: 1px solid red !important;
  outline-offset: 2px;
}
