.CaptchaCode{
    width: 100%;
    height: 35px;
    background: linear-gradient(rgb(0 0 0 / 32%), rgba(0, 0, 0, 0.5)), url(/src/assets/Images/captcha-bg.jpg);
    text-align: center;
    font-size: 20px;
    color: rgb(254 254 254 / 70%);
    letter-spacing: 6px;
    font-style: oblique;
}
.btnreload{
    width:14%;
    height: 35px;
    color:navy !important;
    border: 1px solid white !important;
}
