.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* Adjust right padding for logo space */
  box-sizing: border-box;
}

.input-wrapper .input-logo {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px; /* Adjust size as needed */
  pointer-events: visible; /* Prevent logo from blocking clicks */
}

.LoginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}